prefer-no-csd
spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite" // Forces xwayland-satellite to run on display :3, so if :0 (default) is used, the env variable get out of sync
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

hotkey-overlay {
  skip-at-startup
}

environment {
  DISPLAY ":0"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  HYPRCURSOR_THEME "rose-pine-hyprcursor"
}

input {
  mod-key "Alt"
  mod-key-nested "Super"
  warp-mouse-to-focus
  focus-follows-mouse max-scroll-amount="5%"

  keyboard { 
    xkb {} 
    numlock
  }

  touchpad {
    tap
    natural-scroll
  }

  mouse {}
  trackpoint{}
}

layout {
  gaps 10
  center-focused-column "always"
  default-column-width { proportion 1.0; }

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }

  focus-ring {
    off
    width 2
    active-color "#7fc8ff"
    inactive-color "#505050"
  }

  border {
    // off
    width 4
    active-color "#ffc87f"
    inactive-color "#505050"
    urgent-color "#9b0000"
  }

  struts {
    left 16
    right 16
  }
}

animations {
  // off
  workspace-switch {
    off
  }
}

workspace "terminal"
workspace "browser"
workspace "chat"
workspace "multimedia"
workspace "gaming"
workspace "temporal"


binds {
  // Powers off the monitors. To turn them back on, do any input like
  // moving the mouse or pressing any other key.
  Ctrl+Shift+P { power-off-monitors; }

  Mod+Shift+E { quit; }
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Space repeat=false hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
  Mod+X repeat=false hotkey-overlay-title="Closes the focused window" { close-window; }
  Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down; }
  Mod+Shift+K     { move-window-up; }
  Mod+Shift+L     { move-column-right; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }

  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+U { focus-workspace "terminal"; }
  Mod+I { focus-workspace "browser"; }
  Mod+O { focus-workspace "chat"; }
  Mod+P { focus-workspace "multimedia"; }
  Mod+G { focus-workspace "gaming"; }
  Mod+T { focus-workspace "temporal"; }

  Mod+Shift+U { move-column-to-workspace "terminal"; }
  Mod+Shift+I { move-column-to-workspace "browser"; }
  Mod+Shift+O { move-column-to-workspace "chat"; }
  Mod+Shift+P { move-column-to-workspace "multimedia"; }
  Mod+Shift+G { move-column-to-workspace "gaming"; }
  Mod+Shift+T { move-column-to-workspace "temporal"; }

  Mod+F { maximize-column; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Ctrl+Shift+3 { screenshot-screen; }
  Ctrl+Shift+5 { screenshot-window; }
  Ctrl+Shift+4 { screenshot; }
}
